<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button onclick="location.href='{% url 'time2meeting:index' %}'">Time2Meeting</button>
<button onclick="location.href='{% url 'time2meeting:guidance' %}'">Guidance</button>
<button onclick="location.href='{% url 'time2meeting:team' %}'">Team</button>

<form action= "{% url 'time2meeting:create_event' %}" method="post">
    {% csrf_token %}
    <br>
    <input type="text" name="event_name">
    <br>
    <input type="date" name="time_range">
    <br>
    <input type="date" name="time_range">
    <br>
    <input type="submit" value="Create">
    <br>

</form>
</body>
</html>