{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
<button onclick="location.href='{% url 'time2meeting:index' %}'">Time2Meeting</button>
<button onclick="location.href='{% url 'time2meeting:guidance' %}'">Guidance</button>
<button onclick="location.href='{% url 'time2meeting:team' %}'">Team</button>

<div align="center">

    <h1>Welcome to Time2Meeting!</h1>

    <p>Click the button to create a event!</p>

    <button onclick="location.href='{% url 'time2meeting:create_event' %}'">Create_event</button>

</div>

