<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Time2Meeting - Scheduling Web Application</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'home/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'home/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'home/css/landing-page.min.css' %}" rel="stylesheet">

  </head>

  <body>
  <style type="text/css" media="screen">
  .right {
      text-align: right;
      float: right;
      margin-right: 10px;
  }
  .button-color{
      color:#FFF;
      background-color: #7386D5;
      border-color: #7386D5;
      }
  .name-color{
      }
  #ourHeading {
      font-size: 30px;
  }
  </style>
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">

        {% if user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'manage_event:index' %}">Time2Meeting</a>
        {% load notifications_tags %}
          {% load static %}
          <script src="{% static 'notifications/js/notify.js' %}" type="text/javascript"></script>
          {% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
          <a class="right" href="/manage_event/">{% live_notify_badge classes="badge"%}</a>
          <a class="btn btn-primary" href="/manage_event/logout">Log out</a>

        {% else %}
          <a class="navbar-brand" href="{% url 'home:homepage' %}">Time2Meeting</a>
          <a class="btn btn-primary" href="{% url 'manage_event:index' %}">Sign In</a>
        {% endif %}
      </div>
    </nav>


    {% block main %}
    {% endblock %}

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="{% url 'home:team' %}">Team</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; ColdCode 2017. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'home/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>
</html>