<!DOCTYPE html>
{% extends 'home/base.html' %}
{% load static %}
<html lang="en">
  {% block main %}
    <!-- Testimonials -->
  <body>
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">Who are we?</h2>
        <div class="row">
          <div class="col-lg-6">
            <div class="testimonial-item mx-auto mb-4 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'home/img/yz.jpeg' %}" alt="">
              <h5>Yi Zhang</h5>
              <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'home/img/zdl.jpeg' %}" alt="">
              <h5>Zhidong Liu</h5>
              <p class="font-weight-light mb-0">"Happy and learned. I've been created lots of super nice features with my teammates."</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'home/img/yfz-1.jpeg' %}" alt="">
              <h5>Yufeng Zhang</h5>
              <p class="font-weight-light mb-0">"Developing Time2Meeting is amazing. Love all you guys in ColdCode"</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'home/img/qmh.jpeg' %}" alt="">
              <h5>Qimeng Han</h5>
              <p class="font-weight-light mb-0">"Thanks so much for going through the agile development together, unforgettable memory."</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static 'home/img/t1.jpeg' %}');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <br>
            <h2>Summer</h2>
            <br>
            <p class="lead mb-0">Thanks to the first class, we teamed up as 'ColdCode', and began to discuss and sketch our web application.</p>
            <br>
            <p class="lead mb-0">• We decided on developing a scheduling tool for meeting.</p>
            <p class="lead mb-0">• Main features were decided by brainstorming user stories.</p>
            <p class="lead mb-0">• Our <a href="https://wireframe.cc/pro/pp/fa3b9b1d4116228#z01dllqr">wire-frames</a> then came out.</p>
            <br><br>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('{% static 'home/img/t2.jpeg' %}');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <br>
            <h2>Fall</h2><br>
            <p class="lead mb-0">The 1st iteration of our project. We worked really hard in daytime either on classed or in library, and sometimes discussed till midnight.</p>
            <br>
            <p class="lead mb-0">• We implemented basic logic and framework.</p>
            <p class="lead mb-0">• Login module was enabled by using Google APi.</p>
            <p class="lead mb-0">• Creating events and selecting time slots worked out well.</p>
            <br><br>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static 'home/img/t4.jpeg' %}');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <br>
            <h2>Winter</h2><br>
            <p class="lead mb-0">Time flies and we went on fighting for the 2nd Iteration. Although temperature keeps going down everyday, our passion has never decreased.</p>
            <br>
            <p class="lead mb-0">• New feature: organizers can make decisions.</p>
            <p class="lead mb-0">• Notification & email appeared as an important role!</p>
            <p class="lead mb-0">• UI was greatly improved and we would not stop.</p>
            <br><br>
          </div>
        </div>
      </div>
    </section>

  </body>

  {% endblock%}
</html>