<!DOCTYPE html>
{% extends 'home/base.html' %}
{% load static %}
<html lang="en">
  {% block main %}
    <!-- Testimonials -->
  <body>
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">Who are we?</h2>
        <div class="row">
          <div class="col-lg-6">
            <div class="testimonial-item mx-auto mb-4 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'home/img/yz.jpeg' %}" alt="">
              <h5>Yi Zhang</h5>
              <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'home/img/zdl.jpeg' %}" alt="">
              <h5>Zhidong Liu</h5>
              <p class="font-weight-light mb-0">"Happy and learned a lot. I've created lots of super nice features with my teammates."</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'home/img/yfz-1.jpeg' %}" alt="">
              <h5>Yufeng Zhang</h5>
              <p class="font-weight-light mb-0">"Developing Time2Meeting is amazing. Love all you guys in ColdCode"</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'home/img/qmh.jpeg' %}" alt="">
              <h5>Qimeng Han</h5>
              <p class="font-weight-light mb-0">"I appreciate it so much for going through the agile development together with my teammates, unforgettable memory."</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static 'home/img/t1.jpeg' %}');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <br>
            <h2>Summer</h2>
            <br>
            <p class="lead mb-0">Thanks to the first class, we teamed up as 'ColdCode', and began to discuss and sketch our web application.</p>
            <br>
            <p class="lead mb-0">• We decided to develop a scheduling web application for organizing meetings.</p>
            <p class="lead mb-0">• We came up with main features to implement by brainstorming user stories.</p>
            <p class="lead mb-0">• Our <a href="https://wireframe.cc/pro/pp/fa3b9b1d4116228#z01dllqr">wire-frames</a> then came out.</p>
            <br><br>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('{% static 'home/img/t2.jpeg' %}');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <br>
            <h2>Fall</h2><br>
            <p class="lead mb-0">The 1st iteration of our project. We worked really hard day and night. 4AM library will always be in our memory of this project.</p>
            <br>
            <p class="lead mb-0">• We implemented the basic logic flow and framework.</p>
            <p class="lead mb-0">• Login module was achieved by using Google APi.</p>
            <p class="lead mb-0">• Creating events and selecting time slots worked out well.</p>
            <br><br>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static 'home/img/t4.jpeg' %}');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <br>
            <h2>Winter</h2><br>
            <p class="lead mb-0">Time flies and we went on fighting for the 2nd Iteration. Although temperature keeps going down everyday, our passion has never decreased.</p>
            <br>
            <p class="lead mb-0">• New feature: organizers can make decisions.</p>
            <p class="lead mb-0">• Notification center & email invitation are now achieved</p>
            <p class="lead mb-0">• UI was greatly improved and that is not the ending point :).</p>
            <br><br>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('{% static 'home/img/t5.jpeg' %}');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <br>
            <h2>Stories: J.P.Morgan</h2><br>
            <p class="lead mb-0">Our course collaborates with J.P.Morgan, with whom we had the most enjoyable and unforgettable experiences.</p>
            <br>
            <p class="lead mb-0">• At the end of 2017, we set up our booth at J.P.Morgan, selling Time2Meeting to all of the judges and guests.</p>
            <p class="lead mb-0">• Truly thanks to our lovely mentor, Justin, a considerate and energetic man who has shared plenty of inspiring ideas and keeps motivating us to move forward.</p>
            <br><br>
          </div>
        </div>
      </div>
    </section>

  </body>

  {% endblock%}
</html>