<!DOCTYPE html>
{% extends 'home/base.html' %}
{% load static %}
<html lang="en">
  {% block main %}
    <!-- Testimonials -->
  <body>
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">Who are we?</h2>
        <div class="row">
          <div class="col-lg-6">
            <div class="testimonial-item mx-auto mb-4 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'home/img/yz.jpeg' %}" alt="">
              <h5>Yi Zhang</h5>
              <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'home/img/zdl.jpeg' %}" alt="">
              <h5>Zhidong Liu</h5>
              <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'home/img/yfz-1.jpeg' %}" alt="">
              <h5>Yufeng Zhang</h5>
              <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'home/img/qmh.jpeg' %}" alt="">
              <h5>Qimeng Han</h5>
              <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static 'home/img/t1.jpeg' %}');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Summer</h2>
            <p class="lead mb-0">When you use Time2Meeting, you can deal with all the scheduling tasks of the event with the platform, whether it's:</p>
            <p class="lead mb-0">• Select time slots</p>
            <p class="lead mb-0">• View event status</p>
            <p class="lead mb-0">• Make decision</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('{% static 'home/img/t2.jpeg' %}');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Fall</h2>
            <p class="lead mb-0">Cloud scheduling software has never been easier. Use the most easy-used calendar create for humans to select time slots in a snap.</p>
            <p class="lead mb-0">• Half hour as a unit</p>
            <p class="lead mb-0">• Select as simple or complex as you need</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static 'home/img/t4.jpeg' %}');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Winter</h2>
            <p class="lead mb-0">Stop using spreadsheets and email to track events and skedules. Time2Meeting instantly shows you the progress of any news.</p>
            <p class="lead mb-0">• New invitation</p>
            <p class="lead mb-0">• Modification of events</p>
            <p class="lead mb-0">• Final decision on holding time</p>
          </div>
        </div>
      </div>
    </section>
  </body>
  {% endblock%}
</html>