{% load staticfiles %}
<html>
<head>
    <title>Time2Meeting</title>
    <meta charset="utf-8" />
    <meta name="google-signin-client_id" content="113043432208-j5lm6q6503m6j76c7v5j4ibb4a3u7nf8.apps.googleusercontent.com">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<button onclick="location.href='{% url 'manage_event:index' %}'">Time2Meeting</button>
<button onclick="location.href='{% url 'manage_event:guidance' %}'">Guidance</button>
<button onclick="location.href='{% url 'manage_event:team' %}'">Team</button>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript">
    function onSignIn(googleUser) {
      console.log('success');
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        document.getElementById("g-signout").innerHTML = "Sign out"
    }

function onFailure(error) {
      console.log(error);
    }
    </script>
<style>
        .g-signin2{
        position: absolute;
        right: 0px;
        }

        #g-signout{
        position: absolute;
        right: 0px;
        }

</style>
<div class="g-signin2" data-onsuccess="onSignIn" data-onfailure="onSignInFailure"></div>


<a id='g-signout'  href="#" onclick="signOut();"></a>
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function() {
            console.log('User signed out.');
            document.getElementById("g-signout").innerHTML = ""
        });
    }

    <!--window.onbeforeunload = function(e){-->
      <!--gapi.auth2.getAuthInstance().signOut();-->
      <!--console.log('hi');-->

    };
    </script>
<div class="page-header">
    <h1><a href="/">Time2Meeting</a></h1>
</div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <div style="width:100%;">
                <div style="float:left; width:20%;">
                    <button onclick="location.href='{% url 'manage_event:organize_index' %}'">Organize</button>
                    <button onclick="location.href='{% url 'manage_event:participate_index' %}'">Participate</button>
                </div>
                <div style="float:right; width:80%; ">
                    {% block content %}
                    {% endblock %}
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
