{% extends 'manage_event/sidebar.html' %}
{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<h1>Event Created Successfully!</h1>

<p>Input their emails to invite your friends to join the event:</p>

<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Invite">
</form>

<p>Share this link to invite your friends to join the event:</p>

<p>http://localhost:8000/manage_event/{{ event_id }}/select_timeslots</p>


<button onclick="location.href='{% url 'manage_event:select_timeslots' event_id %}'">Select your time slots</button>
<br>
<button onclick="location.href='{% url 'manage_event:create_event' %}'">Create another event</button>
<br>
<button onclick="location.href='{% url 'manage_event:organize_index' %}'">Back to organize events</button>
<br>


{% endblock%}