{% extends 'manage_event/sidebar.html' %}
{% block content %}
<div class="col-lg-3 "></div>
<div class="col-lg-6">
<h1>Event Created Successfully!</h1>

<h4>Input their emails to invite your friends to join the event:</h4>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<div >
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <br>
        <input type="submit" class = "btn btn-primary"  value="Invite">
    </form>
</div>
<br><br><br>
<button class = "btn btn-warning" onclick="location.href='{% url 'manage_event:select_timeslots' event_id %}'">Select your time slots</button>
<button class = "btn btn-primary" onclick="location.href='{% url 'manage_event:organize_index' %}'">Back to organize events</button>
</div>

{% endblock%}