{% extends 'manage_event/sidebar.html' %}


{% block content %}
{% load notifications_tags %}
{% load static %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<div align="center">

    <h1>Welcome to Time2Meeting!</h1>

</div>


<script src="{% static 'notifications/js/notify.js' %}" type="text/javascript"></script>

<div id="unread" class="anchor">
    {% register_notify_callbacks callbacks='fill_notification_list_with_link,fill_notification_badge' %}

    <p>{% live_notify_badge classes="badge"%} New notifications</p>

    {% live_notify_list %}
    <br><br><br><br>
</div>
<div id="read" class="anchor">
<p>Read</p>

    <ul>
    {% for notification in notifications %}
        <li>{{ notification }}&nbsp<a href="{% url 'manage_event:notification_redirect' event_id=notification.target.id notification_id=notification.id %}">(View details)</a></li>
    {% endfor %}
    </ul>
</div>


{% endblock%}
