{% extends 'manage_event/calendar.html' %}


{% block head %}
<h1>{{ event.event_name }}</h1>
<p><i>{{ event.info }}</i></p>
<br>
<p>Created time: {{ event.create_time }}</p>
<p>Time range: {{ event.time_range_start }} to {{ event.time_range_end }}</p>
<p>Duration: {{ event.duration }}</p>
<p>Deadline: {{ event.deadline }}</p>
<p>-------------------------------------------------------------------------</p>
<br>

<br>
<button onclick="location.href='{% url 'manage_event:abort_event_detail' event.id %}'">Abort event</button>
<br>

<h1>Make a decision for {{ event.event_name }}</h1>
{% endblock %}


{% block jsAndButton %}
<script type="text/javascript" charset="utf-8">
    loadTimeSlotsAndCreateTimeTable("../make_decision_json", "marked");
</script>
<br>
<button onclick="postTimeSlotsAndRedirect('../make_decision/','../make_decision_render')"> submit</button>
{% endblock %}


