{% extends 'manage_event/sidebar.html' %}
{% block content %}

<h1>Select time slot for {{ event.event_name }}</h1>
    <style type="text/css" media="screen">
    table#power_schedule td {
        width: 140px;
    }

    table#power_schedule td.selectable,
    table#power_schedule th {
        font-size: 8px;
        width: 70px;
        height: 15px;
        text-align: center;
    }

    table#power_schedule td.selectable {
        width: 60px;
        background-color: #FFFFFF;
        border: 1px solid #D9D9D9;
    }

    table#power_schedule td.highlighted {
        background-color: #99E6FF;
        border: 1px solid #00ACE6;
    }

    table#power_schedule td:first-child {
        cursor: pointer;
    }


    </style>

    <table cellpadding="0" cellspacing="0" id="power_schedule">
        <tr id="firstRow">
            <th/>
            <!--<th>Mon</th>-->
            <!--<th>Tue</th>-->
            <!--<th>Wed</th>-->
            <!--<th>Thu</th>-->
            <!--<th>Fri</th>-->
            <!--<th>Sat</th>-->
            <!--<th>Sun</th>-->

        </tr>
        <!--<tr id="secondRow">-->
            <!--<td>08:00-09:00</td>-->
            <!--<td class="selectable"> </td>-->
            <!--<td class="selectable"> </td>-->
            <!--<td class="selectable"> </td>-->
            <!--<td class="selectable"> </td>-->
            <!--<td class="selectable"> </td>-->
            <!--<td class="selectable"> </td>-->
            <!--<td class="selectable"> </td>-->
        <!--</tr>-->
    </table>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
    <script>

 <!--var originaltimeslotsjson ='{'+-->
	<!--'"2017-10-10 18:30:00": "Selected",'+-->
	<!--'"2017-10-10 19:00:00": "Blank",'+-->
	<!--'"2017-10-11 18:30:00": "Selected",'+-->
	<!--'"2017-10-11 19:00:00": "Blank",'+-->
	<!--'"2017-10-12 18:30:00": "Selected",'+-->
	<!--'"2017-10-12 19:00:00": "Blank"'+-->
    <!--'}';-->

    var originalTimeslots;
    var originaltimeslotsjson = $.getJSON( "../modify_timeslots_read", function(json) {
  console.log( "success" );
  console.log(json);
  originalTimeslots = json;

 var timeslots = {};
 var date;

 for (entry in originalTimeslots) {
    var items = entry.split(" ");
    if (date != items[0]) {
        date = items[0];
        timeslots[date] = {};
        timeslots[date][items[1]] = originalTimeslots[entry];
    }else {
        timeslots[date][items[1]] = originalTimeslots[entry];
    }
 }

 var firstColumn = timeslots[Object.keys(timeslots)[0]];
 var counter = 0;

 for (day in timeslots) {
     firstColumn = timeslots[day];
     document.getElementById("firstRow").innerHTML += "<td>"+day+"</td>";
 }

 for (time in firstColumn) {
    if (counter % 2 == 0){
    document.getElementById("power_schedule").innerHTML += "<tr id= "+time+">" + "<td>"+time+"</td>" +"</tr>";
    } else {
    document.getElementById("power_schedule").innerHTML += "<tr id= "+time+">" + "<td>"+ "" +"</td>" +"</tr>";
    }
    for (day in timeslots) {
          if (timeslots[day][time] == "Blank") {
          document.getElementById(time).innerHTML += "<td class='selectable' id='" +day+" "+time+"'> </td>";
          } else {
          document.getElementById(time).innerHTML += "<td class='selectable highlighted' id='" +day+" "+time+"'> </td>";
          }
    }
    counter += 1;
 }
 $(function() {
        // Create table dragging functionality
        var isMouseDown = false;
        var highlighted
        console.log("event listner");
        $("table#power_schedule td.selectable")
            .mousedown(function() {
                console.log("mouse down");
                isMouseDown = true;
                highlighted = $(this).hasClass('highlighted')

                if (highlighted) {
                    $(this).removeClass('highlighted')
                } else {
                    $(this).addClass('highlighted')
                }
                return false; // prevent text selection
            })
            .mouseover(function() {
                if (isMouseDown) {
                    if (highlighted) {
                        $(this).removeClass('highlighted')
                    } else {
                        $(this).addClass('highlighted')
                    }
                }
            })
            .bind("selectstart", function() {
                return false; // prevent text selection in IE
            })

        $('table#power_schedule td:first-child')
            .mousedown(function() {
                isMouseDown = true;

                $(this).parent().find('td:not(:first-of-type)').toggleClass('highlighted')
                $(this).css('cursor', 'pointer')
                return false
            })
            .mouseover(function() {
                if (isMouseDown) {
                    $(this).parent().find('td:not(:first-of-type)').toggleClass('highlighted')
                }
            })
            .bind("selectstart", function() {
                return false; // prevent text selection in IE
            })

        $(document)
            .mouseup(function() {
                isMouseDown = false
            })
    });
})
  <!--.done(function() {-->
    <!--console.log( "second success" );-->
  <!--})-->
  <!--.fail(function() {-->
    <!--console.log( "error" );-->
  <!--})-->
  <!--.always(function() {-->
    <!--console.log( "complete" );-->
  <!--});-->
  <!---->




function myFunction(){

    for(entry in originalTimeslots) {
        var currentcell = document.getElementById(entry);
        if (currentcell.className.includes("highlighted")) {
            originalTimeslots[entry] = "Selected";
        }
        else {
            originalTimeslots[entry] = "Blank";
        }
    }

    $.ajax({
        type: "POST",
        url: "../modify_timeslots_update/",
        data: JSON.stringify(originalTimeslots),
        contentType: "application/json; charset=utf-8",
        dataType: "json"
  })
        .done(function (data) {
         console.log("Response");
         window.location = "../select_publish_render";
         });
    console.log(originalTimeslots);
}

    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">

    </script>
    <br><button onclick="myFunction()"> submit</button>


{% endblock%}