{% extends 'manage_event/calendar.html' %}


{% block head %}
<br>
<button onclick="location.href='{% url 'manage_event:abort_event_detail' event.id %}'">Abort event</button>
<br>

<h1>{{ event.event_name }} is on going, and the current status is: </h1>
{% endblock %}


{% block jsAndButton %}
<script type="text/javascript" charset="utf-8">
    loadTimeSlotsAndCreateTimeTable("../make_decision_json", "");
</script>
<br>
<button onclick="location.href='{% url 'manage_event:organize_index' %}'">Back to organize events</button>
{% endblock %}
