{% extends 'manage_event/sidebar.html' %}
{% block content %}


<div>

    <h1>Welcome to Time2Meeting!</h1>


    <br><h3>To do:</h3>

    <ul>
    {% for event in event_to_do %}
        <li><a href="{% url 'manage_event:select_timeslots' event.id%}">{{ event.event_name }}</a></li>
    {% endfor %}
    </ul>


    <ul>
    {% for event in event_done %}
        <p>{{ event.event_name }} &nbsp <a href="{% url 'manage_event:modify_timeslots' event.id%}">Click to modify</a></p>
    {% endfor %}
    </ul>

    <br><h3>Result:</h3>

    <ul>
    {% for event in event_result %}
        <li><a href="{% url 'manage_event:show_decision_result' event.id%}">{{ event.event_name }}</a></li>
    {% endfor %}
    </ul>

    <br><h3>Pending:</h3>

    <ul>
    {% for event in event_pending %}
        <li><a href="{% url 'manage_event:pending' event.id%}">{{ event.event_name }}</a></li>
    {% endfor %}
    </ul>

</div>


{% endblock%}
