{% extends 'manage_event/sidebar.html' %}
{% block content %}

<h1>You have submitted your time slots for the event: </h1>

<h3>{{ event.event_name }}</h3>


<ul>
{% for slot in timeslots %}
    <li>{{ slot}}</li>
{% endfor %}
</ul>
<button class="btn btn-primary" onclick="location.href='{% url 'manage_event:modify_timeslots' event.id %}'">Modify your time slots</button>
<br>
<button class="btn btn-primary" onclick="location.href='{% url 'manage_event:participate_index' %}'">Back to Participate Events</button>
<br>

{% endblock%}
