{% extends 'manage_event/base.html' %}
{% block main %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <div style="width:100%;">
                <div style="float:left; width:20%;">
                    <br><button onclick="location.href='{% url 'manage_event:organize_index' %}'">Organize</button><br>
                    <br><button onclick="location.href='{% url 'manage_event:participate_index' %}'">Participate</button><br>
                </div>
                <div style="float:right; width:80%; ">
                    {% block content %}
                    {% endblock %}
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock%}